@media (max-width: 1024px) {   
   .main .container {
      gap: 45px;
   }    
   .main .container .informacoes-texto {
      width: 380px;
   }
   
   .main .container .informacoes-texto .titulo-principal {
      font-size: 25px;
   }
   
   .main .container .informacoes-texto .paragrafo-principal {
      font-size: 20px;
   }
   
   .main .container .formulario {
      width: 300px;
   }
   
   .main .container .formulario .form .input, .mensagem-input {
      padding: 10px;
   }
}

@media (max-width: 768px) {
   .main .container {
      gap: 30px;
   }

   .main .container .informacoes-texto {
      width: 280px;
   }
   
   .main .container .formulario {
      width: 280px;
   }
   
   .main .container .formulario .form .input, .mensagem-input {
      padding: 10px;
      font-size: 15px;
   }

   .main .container .formulario .paragrafro-form {
      font-size: 12px;
      margin: 5px 0px 13px 0px;
   }
}

@media (max-width: 590px) {
   .main .container {
      display: flex;
      flex-direction: column;
      gap: 30px;
   }

   .main .container .informacoes-texto {
      width: 380px;
      text-align: center;
   }

   .main .container .informacoes-texto .paragrafo-principal {
      font-size: 17px;
   }
   
   .main .container .formulario {
      grid-area: formulario;
      width: 350px; 
   }
   
   .main .container .formulario .form .input, .mensagem-input {
      padding: 15px;
      font-size: 17px;
   }

   .main .container .formulario .paragrafro-form {
      font-size: 12px;
      margin: 5px 0px 13px 0px;
   }
}