.main {
   font: var(--font);
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(180deg, var(--cor-fundo-01), var(--cor-fundo-02));
   background: url(../imagens/bg-repeat.jpg) ;
   background-size: contain;
}

.main .container {
   max-width: 100%;
   display: grid;
   grid-template-areas: "texto formulario";
   gap: 60px;
   place-items: center;
   font-family: 'Roboto', sans-serif;
}

.main .container .informacoes-texto {
   width: 380px;
   grid-area: texto;
   color: var(--cor-dark-40);
}

.main .container .informacoes-texto .titulo-principal {
   font-size: 30px;
   font-weight: 900;
   text-transform: uppercase;
   margin-bottom: 10px;
}

.main .container .informacoes-texto .paragrafo-principal {
   font-size: 20px;
   font-weight: 400;
}

.main .container .formulario {
   grid-area: formulario;
   max-width: 450px;
   background: var(--cor-dark-40);
   padding: 25px;
   padding-top: 10px;
   font-family: 'Roboto', sans-serif;
}

.main .container .formulario .form .input, .mensagem-input{
   padding: 15px;
   width: 100%;
   margin-top: 15px;
   border-radius: 5px;
   font-family: 'Roboto', sans-serif;
   font-size: 17px;
   font-weight: 700;
}

.obrigatorio-campo {
   display: none;
   color: var(--cor-error);
}

.main .container .formulario .paragrafro-form {
   font-size: 15px;
   font-weight: 400;
   text-transform: uppercase;
   margin: 7px 0px 16px 0px;
}

.button-enviar {
   width: 100%;
   padding: 10px;
   color: var(--cor-dark-40);
   background-color: var(--cor-destaque);
   border-radius: 5px;
   border: none;
   font-size: 15px;
   font-weight: 700;
}